<ion-content padding>
    <h3>SACI-Sistema de atendimento ao cidadão Itapolitano - Versão Alfa</h3>

    <form>

        <ion-list>
            <ion-radio-group allow-empty-selection="false">
                <ion-row>
                    <ion-item>
                        <ion-label>Asfalto</ion-label>
                        <ion-radio name="asfalto" [(ngModel)]="asfalto" value="asfato" checked></ion-radio>
                    </ion-item>

                    <ion-item>
                        <ion-label>Secretarias</ion-label>
                        <ion-radio name="secretarias" [(ngModel)]="secretarias" value="secretarias"></ion-radio>
                    </ion-item>
                </ion-row>
            </ion-radio-group>
        </ion-list>

        <ion-item>
            <ion-label position="floating">Endereço</ion-label>
            <ion-input required name="endereco" [(ngModel)]="endereco"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Número</ion-label>
            <ion-input required type="number" name="numero" [(ngModel)]="numero"></ion-input>
        </ion-item>

        <ion-label>Descreva o ocorrido:</ion-label>

        <ion-item>
            <ion-textarea required name="textarea" [(ngModel)]="textarea" clear-on-edit="true" type="text" rows="6" cols="20"
                placeholder=""></ion-textarea>
        </ion-item>

        <ion-button expand="full" (click)="captureImage()" type="submit" color="primary" size="small">Capturar imagem</ion-button>
        <ion-button expand="full" (click)="sendEmail()" size="small" type="submit" color="primary">Enviar email</ion-button>
        <ion-button expand="full" (click)="cleanForms()" size="small" type="reset" color="dark">Limpar</ion-button>
        <ion-button expand="full" (click)="exitApp()" size="small" color="dark">Fechar</ion-button>
        
        <!--
            <ion-card>
                <ion-card-header>Imagem selecionada</ion-card-header>
                <ion-card-content>
                    <img [src]="currentImage" *ngIf="currentImage" />
                </ion-card-content>
            </ion-card>
        --> 
    </form>

</ion-content>