<ion-content padding>
    <h3>SACI-Sistema de atendimento ao cidadão Itapolitano - Versão 1.2</h3>

    <form>

        <ion-list>
            <!--<ion-list-header>Selecione</ion-list-header>-->
            <ion-item>
                <ion-label>Categoria</ion-label>
                <ion-select name="place" [(ngModel)]="place" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Listar">
                    <ion-select-option value="arvore">Árvore</ion-select-option>
                    <ion-select-option value="buraco">Buraco</ion-select-option>
                    <ion-select-option value="praca">Praças</ion-select-option>
                    <ion-select-option value="terreno">Terreno sujo</ion-select-option>
                    <ion-select-option value="outros">Outros</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>

        <ion-item>
            <ion-label position="floating">Endereço</ion-label>
            <ion-input name="endereco" [(ngModel)]="endereco"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Número</ion-label>
            <ion-input type="number" name="numero" [(ngModel)]="numero"></ion-input>
        </ion-item>

        <ion-label>Descreva o ocorrido:</ion-label>

        <ion-item>
            <ion-textarea name="textarea" [(ngModel)]="textarea" clear-on-edit="true" type="text" rows="6" cols="20"
                placeholder=""></ion-textarea>
        </ion-item>

        <ion-button expand="full" (click)="captureImage()" type="submit" color="primary" size="small">Capturar imagem
        </ion-button>
        <ion-button expand="full" (click)="sendEmail()" size="small" type="submit" color="primary">Enviar email
        </ion-button>
        <ion-button expand="full" (click)="cleanForms()" size="small" type="reset" color="dark">Limpar</ion-button>
        <ion-button expand="full" (click)="exitApp()" size="small" color="dark">Fechar</ion-button>

    </form>

</ion-content>